<div id="main-container">
  <!-- Banner full-width con animación -->
  <div class="banner-container animate-banner" style="height:150px;">
    <a href="https://ibb.co/0VtwnJBp">
      <img 
        class="banner-image" 
        src="https://i.ibb.co/jZRp84V9/banner.jpg" 
        alt="banner"
      />
    </a>
  </div>
  
  <mat-card class="mb-4">
    <section class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mb-sm-5">
            <div class="card card-style1 border-0">
              <div class="card-body bg-dark p-1-9 p-sm-2-3 p-md-6 p-lg-7" id="gris">
                <div class="text-start row gx-5">
                  <div class="col-lg-6 mb-4 mb-lg-0 animate-fade-in" style="animation-delay: 0.5s;">
                    <div class="perfil-photo-wrapper">
                      <a href="https://ibb.co/ZzQFCHMd"  target="_blank" title="Ver imagen de perfil" style="width: 100%; height: 300px; max-width: 300px;">
                        <img src="https://i.ibb.co/0y063BGq/20220103-164937.jpg" alt="20220103-164937" border="0" />
                      </a>
                    </div>
                  </div>
                  
                  <div class="col-lg-6 px-xl-10 text-start" id="gris">
                    <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-0 mb-1-9 rounded">
                      <br>
                      <h3 class="mb-0 text-start animate-fade-in" id="titulo" style="color: violet; animation-delay: 1s;">
                        Francisco Giunta
                      </h3>
                      <br>
                      <span class="text-start animate-fade-in" id="subtitulo" style="color: violet; animation-delay: 1.2s; size: 18px;">
                        Tec. en Informática | Desarrollador Full Stack Jr.
                      </span>
                
                    </div>
                    
                    <div id="gris">
                      <h2 id="texto" class="animate-fade-in" style="color:violet; animation-delay: 2s;">{{ perfil().resumen }}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-card>
</div>