<app-toolbar></app-toolbar>

<main class="container-fluid p-0">
  <section id="perfil">
    <app-perfil></app-perfil>
  </section>

  <section id="experiencia" class="py-4">
    <app-experiencia></app-experiencia>
  </section>

  <section id="educacion" class="py-4">
    <app-educacion></app-educacion>
  </section>
  <section id="proyectos" class="py-4">
    <app-proyectos></app-proyectos>
  </section>
  <section id="skills" class="py-4">
    <app-skills></app-skills>
  </section>    
  </main>

<app-footer></app-footer>