html, body { 
  height: 100%; 
  margin: 0; 
  background-color: #000; 
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.modal-backdrop.show {
  opacity: 0.8; 
}

.modal-content {
  background-color: #2d2d2d; 
  color: #f8f9fa;           
  border: 1px solid #444;
}

.modal-header {
  border-bottom-color: #444;
}

.modal-header .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}
.modal-body .form-control {
  background-color: #495057; 
  color: #f8f9fa;
  border-color: #6c757d;
}

.modal-body .form-control::placeholder {
  color: #adb5bd;
}

.modal-footer {
  border-top-color: #444;
}

.btn-pink {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e83e8c;
  --bs-btn-border-color: #e83e8c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d63384;
  --bs-btn-hover-border-color: #ca317c;
}

.btn-outline-pink {
  --bs-btn-color: #e83e8c;
  --bs-btn-border-color: #e83e8c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e83e8c;
  --bs-btn-hover-border-color: #e83e8c;
}

.text-pink {
  color: #e83e8c !important;
}

.form-range::-webkit-slider-thumb {
  background-color: #e83e8c;
}

main.container-fluid {
  position: relative;
  z-index: 1; /* Para que quede por encima del canvas */
  background-color: transparent !important;
}

section {
  /* Asegúrate de que las secciones tampoco tapen el fondo si no lo deseas */
  background-color: transparent; 
}

/* Efecto de cristal (Glassmorphism) para los contenedores de los componentes.
   Aplicado a las tarjetas y contenedores comunes dentro de main, excluyendo la toolbar */
main section mat-card,
main section .card,
.glass-container {
  background: rgba(255, 255, 255, 0.26) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10.2px) !important;
  -webkit-backdrop-filter: blur(10.2px) !important;
  border: 1px solid rgba(255, 255, 255, 0.27) !important;
}

/* Hacemos transparente la clase bg-dark interna para que se logre apreciar el cristal */
main section .bg-dark {
  background-color: transparent !important;
}
